<!DOCTYPE html>
html(lang="ja")
	head
		title 間部さん
		meta(charset="UTF-8")
		meta(name='keywords', keywords="")
		meta(name='description', content="")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
		meta(property="og:type", content="website")
		meta(property="og:locale", content="ja_JP")
		meta(property="og:site_name", content='間部さん')
		meta(property="og:title", content='間部さん')
		meta(property="og:description", content="")
		meta(property="og:image", content= '')
		<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" />
		link(rel="stylesheet",href="./css/style.css")
		//- link(rel="shortcut icon", href="./favicon.ico", type="image/vnd.microsoft.icon")
	body
		header
			.page-wrapper
				a(href="/").logo
					img(src="./img/logo.png", alt="")
				.float-right
					span.menu
						img(src="./img/icon-menu.png", alt="menu")
			nav
				ul
					li
						a(href="/service/") SERVICE 
					li
						a(href="/works/") WORKS
					li
						a(href="/company/") COMPANY
					li
						a(href="/company/#contact") CONTACT
		main
			section.news-section
				img(src="./img/img-kv-sp.jpg", alt="").sp
				img(src="./img/img-kv.jpg", alt="").pc
				.page-wrapper
					h1 Advertise
						br 
						| Strategy 
						br
						| for OnlineShop
					h2 売上を上げるECコンサルティング
				div.news
					p.news-title NEWS
					dl.news-list
						dt 2020.06.01
						dd Webサイトをオープンしました。
			section.about-section
				.page-wrapper
					h3 what we are
					p
						span.wsnr 2020年現在、
						span.wsnr 消費者行動の多くがデジタルシフトし、
						span.wsnr デジタルマーケティングが企業戦略の
						span.wsnr 中心になってきています。
						span.wsnr しかし、
						span.wsnr あらゆるデータが溢れてきている中、
						span.wsnr データを有効活用して
						span.wsnr 消費者の生活を豊かにしている企業は
						span.wsnr どのくらいあるでしょうか。
					p
						span.wsnr 我々EC戦略のプロ集団 STARONLINEは、
						span.wsnr データの価値を最大化し、
						span.wsnr デジタルの可能性を拡大することが
						span.wsnr 人類の幸福に繋がると考えています。
						span.wsnr そして、昨今の新型コロナウイルスが
						span.wsnr もたらした生活環境の変化は、
						span.wsnr 結果としてより一層デジタルの価値を
						span.wsnr 再認識する機会となっているのでは
						span.wsnr ないでしょうか。
					p
						span.wsnr デジタルマーケティングの未来を
						span.wsnr アップデートする、ONLINEのSTAR、
						span.wsnr 私たちが”STARONLINE”です。
			section.service-section
				.page-wrapper
					h3 service
					p データの価値を最大化するSTARONLINEの#[span.wsnr 事業内容]をご説明いたします。
					a(href="#").more-btn view more
			section.works-section
				.page-wrapper
					h3 works
					p データの価値を最大化する、STARONLINEの成功事例をご紹介いたします。
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							dl
								dt
									img(src="./img/img-works-01.png", alt="")
								dd
									p 01
									p Snow Peak FIELD SUITE HAKUBA KITAONE KOGEN
									p 初年度から多くの集客に成功したSnow Peakブランドの高級グランピング施設のオフィシャルサイト制作
									.text-right
										a(href="/works/#works1").more-btn view more
						.swiper-slide
							dl
								dt
									img(src="./img/img-works-02.png", alt="Maruni Online shop")
								dd
									p 02
									p Maruni Online shop
									p 目標に対し200%を達成したECサイト改善
									.text-right
										a(href="/works/#works2").more-btn view more
						.swiper-slide
							dl
								dt
									img(src="./img/img-works-03.png", alt="日野製薬ONLINE SHOP")
								dd
									p 03
									p 日野製薬ONLINE SHOP
									p 改善からわずか2ヶ月で過去最大の月売上、日別でも過去最高を達成した ECサイト改善プロジェクト
									.text-right
										a(href="/works/#works3").more-btn view more
						.swiper-slide
							dl
								dt
									img(src="./img/img-works-04.png", alt="プロの副業")
								dd
									p 04
									p プロの副業
									p 約8ヶ月で3000フォロワーを増やしたTwitter戦略立案
									.text-right
										a(href="/works/#works4").more-btn view more
					.swiper-pagination
					.swiper-button-prev
					.swiper-button-next
			section.contact-section
				.page-wrapper
					a(href="#")
						span contact
						span.wsnr ご依頼、お見積もりなど、
						wbr
						span.wsnr こちらからお問い合わせ下さい。
		footer
			.page-wrapper
				a(href="/").logo
					img(src="./img/logo-wh.png", alt="")
				p.copy-en Advertise
					br
					| Strategy 
					br
					| for OnlineShop
				.sitemap.pc
					ul
						li
							a(href="/service/") SERVICE 
						li
							a(href="/works/") WORKS
						li
							a(href="/company/") COMPANY
						li
							a(href="/company/#contact") CONTACT
				p.copy-ja 売上を上げるECコンサルティング
				div.sns
					ul
						li
							a(href="#")
								img(src="./img/icon-twitter.png", alt="twitter")
						li
							a(href="#")
								img(src="./img/icon-facebook.png", alt="facebook")
				p.copyright © STARONLINE inc.
			a(href="#").back-btn back to top
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js")
		script(src="./js/slider.js")
		script(src="https://code.jquery.com/jquery-2.2.4.min.js" ,integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" ,crossorigin="anonymous")
		script(src="./js/tem.js")
