<!DOCTYPE html>
html(lang="ja")
	head
		title 間部さん
		meta(charset="UTF-8")
		meta(name='keywords', keywords="")
		meta(name='description', content="")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
		meta(property="og:type", content="website")
		meta(property="og:locale", content="ja_JP")
		meta(property="og:site_name", content='間部さん')
		meta(property="og:title", content='間部さん')
		meta(property="og:description", content="")
		meta(property="og:image", content= '')
		link(rel="stylesheet",href="./css/style.css")
		link(rel="shortcut icon", href="./favicon.ico", type="image/vnd.microsoft.icon")
	body
		.page-wrapper
			a(href="#").contact CONTACT
			a(href="#" id="modal_button").hello HELLO
			aside
				img(src="./img/circle.svg", alt="circle").circle
				section.content
					h1 
						img(src="./img/reprise_logo.svg", alt="Reprise")
					h2.bio THIS IS #[br]SHIGETAKA MABE #[br]PORTFOLIO WEBSITE
					h3.location ART DIRECTOR / DIGITAL DESIGNER#[br]Based in East Tokyo
				div.sns
					ul
						li
							a(href="#")
								img(src="./img/sns/twitter.svg", alt="twitter")
						li
							a(href="#")
								img(src="./img/sns/facebook.svg", alt="facebook")
						li
							a(href="#")
								img(src="./img/sns/insta.svg", alt="insta")
						li
							a(href="#")
								img(src="./img/sns/Spotify.svg", alt="Spotify")
						li
							a(href="#")
								img(src="./img/sns/suzuri.svg", alt="suzuri")
			article
				img(src="./img/img_engaging.jpg", alt="engaging").engaging
				div.works
					div
						h4 LATEST NUMBER
						ul
							li
								a(href="#") GREEN RIBBON
									img(src="./img/work/greenribbon.png", alt="GREEN RIBBON")
							li
								a(href="#") SMARTNEWS AWARDS
									img(src="./img/work/smartnews.png", alt="SMARTNEWS AWARDS")
							li
								a(href="#") FICHVITA
									img(src="./img/work/fichvita.png", alt="FICHVITA")
							li
								a(href="#") LIFULL RECRUIT
									img(src="./img/work/lifull.png", alt="LIFULL RECRUIT")
							li
								a(href="#") SOJITZ BUSINESS JET
									img(src="./img/work/sojitzbizjet.png", alt="SOJITZ BUSINESS JET")
							li
								a(href="#") HITACHI KENKI
							li
								a(href="#") AGEHA inc
									img(src="./img/work/ageha.png", alt="AGEHA inc")
							li
								a(href="#") AGEHA RECRUIT
									img(src="./img/work/ageharecruit.png", alt="AGEHA RECRUIT")
		.modal
			a(href="#").contact CONTACT
			a(href="#" id="modal_back").hello BACK
			div.modal-header
				p.modal-background COMING SOON
				p.modal-title
					img(src="./img/reprise_logo.svg", alt="Reprise")
				p.modal-subtitle.notosans リプリーズドットトーキョー
				p.modal-reprise reprise.tokyo
			
			div.modal-table
				div.modal-cell
					p.modal-about HELLO EVERYTHING#[br]My name is SHIGETAKA MABE#[br]I’M ART DIRECTOR / DIGITAL DESINGER#[br]Based in East Tokyo with my daughter.
					div.sns
						ul
							li
								a(href="#")
									img(src="./img/sns/twitter.svg", alt="twitter")
							li
								a(href="#")
									img(src="./img/sns/facebook.svg", alt="facebook")
							li
								a(href="#")
									img(src="./img/sns/insta.svg", alt="insta")
							li
								a(href="#")
									img(src="./img/sns/Spotify.svg", alt="Spotify")
							li
								a(href="#")
									img(src="./img/sns/suzuri.svg", alt="suzuri")
				div.modal-cell
					p.notosans.modal-content Through design,it provides essential and attractive digital experience.Always waiting for your offer & some great idea with Curry,Beer,Sauna,Indie Rock.#[br]#[br]Finally, This is teaser site.#[br]My portfolio site will be launched in this spring.#[br]Follow my social network accounts and wait a moment.
				//- .author
				//- 	p Text &ndash;
				//- 	p <span>Lorem Ipsum</span>
				//- .photographer
				//- 	p Photo &ndash;
				//- 	p <span>Lorem Ipsum</span>
				//- .image
				//- 	img(src="http://wallpaperlayer.com/img/2015/7/actor-wallpaper-4072-4293-hd-wallpapers.jpg")
				//- .text
				//- 	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.
				//- 	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.
		//- footer
		//- header
		//- main
		//- 	section
		//- footer
		
		script(src="https://code.jquery.com/jquery-2.2.4.min.js" ,integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" ,crossorigin="anonymous")
		script(src="./js/tem.js")
