<!DOCTYPE html>
html(lang="ja")
	head
		title works | 間部さん
		meta(charset="UTF-8")
		meta(name='keywords', keywords="")
		meta(name='description', content="")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
		meta(property="og:type", content="website")
		meta(property="og:locale", content="ja_JP")
		meta(property="og:site_name", content='間部さん')
		meta(property="og:title", content='間部さん')
		meta(property="og:description", content="")
		meta(property="og:image", content= '')
		<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" />
		link(rel="stylesheet",href="../css/style.css")
		//- link(rel="shortcut icon", href="./favicon.ico", type="image/vnd.microsoft.icon")
	body
		header
			.page-wrapper
				a(href="/").logo
					img(src="../img/logo.png", alt="")
				.float-right
					span.menu
						img(src="../img/icon-menu.png", alt="menu")
			nav.sub
				ul
					li
						a(href="/service/") SERVICE 
					li
						a(href="/works/") WORKS
					li
						a(href="/company/") COMPANY
					li
						a(href="/company/#contact") CONTACT
		main
			section.works-sub-section
				.page-wrapper
					h1 works
					h2 データの価値を最大化する、STARONLINEの成功事例をご紹介いたします。
			section.works-content
				.sub-wrapper
					h3#works works#[span 実績紹介]
					article.work#works1
						div
							.work-table
								.work-cell
									img(src="../img/img-works-01.png", alt="")
								.work-cell
									p.work-num
										span 01
										br
										span Snow Peak FIELD SUITE HAKUBA KITAONE KOGEN
									p.work-info 初年度から多くの集客に成功した高級グランピング施設のオフィシャルサイト制作
						div
							dl
								dt URL
								dd
									a(href="https://fieldsuite-hakuba.com/",target="_blank") https://fieldsuite-hakuba.com/
							dl
								dt SCOPE
								dd STRATEGY/ANALYTICS/SOCIAL AD/LISTING AD/WEB SITE DIRECTION
							dl
								dt OUTLINE
								dd
									p 2019年5月にSnow Peakブランドで長野に高級グランピングをオープン。サイトの制作 ディレクションだけでなく、毎週のレポートによる集客改善を実施。 初年度として多くの宿泊者に恵まれ、2年目のシーズンに向け戦略を立案している。
									ul
										li ・数値目標の設定及び達成のための戦略策定
										li ・ GAにて購買意欲層の把握とターゲットの選定
										li ・Facebook広告及びリスティング広告のチューニングを行いターゲットに正確な広告配信
										li ・オウンドメディアの構築による検索からの流入強化とサイト滞在時間の強化
										li ・公式NEWSを設置することでメディア掲載情報やプレス情報を掲載しサービスへの箔をつけ予約へつなげる 
										li ・メルマガ開封率の改善のためメール配信ツールのリプレイス
										li ・OTAサイトへの広告掲載の実施による予約強化
					article.work#works2
						div
							.work-table
								.work-cell
									img(src="../img/img-works-02.png", alt="")
								.work-cell
									p.work-num
										span 02
										br
										span Maruni Online shop
									p.work-info 目標に対し200%を達成したECサイト改善
						div
							dl
								dt URL
								dd
									a(href="https://webshop.maruni.com/",target="_blank") https://webshop.maruni.com/
							dl
								dt SCOPE
								dd STRATEGY/ANALYTICS/WEB SITE DIRECTION
							dl
								dt OUTLINE
								dd
									p 日本有名家具メーカーのMaruni 木工 Online ShopのEC改善戦略の立案/解析/WEB サイトディレクションを担当。目標予算に対して約200%以上の達成率をするまでに改善を 加えた。事業の柱として成長してきている。
									ul
										li ・目標KPIの設定と達成するための戦略策定
										li ・ショッピングカートの改善によるCV率の改善
										li ・リスティング・ソーシャルアドのチューニング
										li ・サイト集客強化のためのPRチームとの連携
										li ・商品詳細ページの内容の見直し(賞の掲載/使用シーン)の追加によるCVの向上
										li ・オフィシャルサイトからオンラインサイトへの流入強化のためにボタン表示
										li ・ソーシャル戦略の立案(Instagramの商品ページリンク及び定期発信内容の見直し)
										li ・メルマガ開封率向上のための件名のPDCA
					article.work#works3
						div
							.work-table
								.work-cell
									img(src="../img/img-works-01.png", alt="")
								.work-cell
									p.work-num
										span 03
										br
										span 日野製薬ONLINE SHOP
									p.work-info 改善からわずか2ヶ月で過去最大の月売上、日別でも過去最高を達成した ECサイト改善プロジェクト
						div
							dl
								dt URL
								dd
									a(href="https://hino-seiyaku.com/shop/",target="_blank") https://hino-seiyaku.com/shop/
							dl
								dt SCOPE
								dd STRATEGY/SNS
							dl
								dt OUTLINE
								dd
									p 百草丸で有名な長野の製薬メーカーのオンラインショップの戦略/改善/分析等を実施。 改善から早くも2ヶ月で過去最大の月売上、日別でも過去最高を記録。 デジタルマーケティングだけでなく、PR部分でも協力し売上アップに繋げた。
									ul
										li ・目標KPIの設定と達成するための戦略立案
										li ・ショッピングカート部分の改善によるCVの強化
										li ・PRtimesによるPressReleaseの配信によるメディア掲載からの集客
										li ・メニューの改善によるターゲットユーザーの使いやすさ改善
										li ・商品詳細ページの改善によるCV率の改善
										li ・タイムセールやクーポン配布によるCV数の改善
										li ・クロスセル・アップセルによる購入平均単価の向上
					article.work#works4
						div
							.work-table
								.work-cell
									img(src="../img/img-works-04.png", alt="")
								.work-cell
									p.work-num
										span 04
										br
										span プロの副業
									p.work-info 約8ヶ月で3000フォロワーを増やしたTwitter戦略立案
						div
							dl
								dt URL
								dd
									a(href="https://profuku.com/",target="_blank") https://profuku.com/
							dl
								dt SCOPE
								dd STRATEGY/ANALYTICS/WEB SITE DIRECTION/PR
							dl
								dt OUTLINE
								dd
									p プロの副業のTwitter戦略の立案及び、戦略の実行を行なった。 フォロワーを約8ヶ月で3000フォロワーを増やすことに成功。 Twitterを中心に「副業女子」というコンテンツを立ち上げ、業界内での話題性を獲得した。
									ul
										li ・Twitterにて副業ネタの企画発信
										li ・月間レポートの作成
										li ・フォロー&フォロー外しによるフォロワーの増加
										li ・インフルエンサーを利用したソーシャルコンテンツの企画
				article.cliant
					.sub-wrapper
						div.cliant-table
							div.cliant-cell
								h4 OTHER CLIANT
								p この他にも、数多くのナショナルブランドのデジタルマーケティング経験から培った独自のノウハウを開発している為、事業内容、業種業態に関係なく戦略の策定が可能です。
							div.cliant-cell
								img(src="../img/img-cliant-logos.jpg", alt="OTHER CLIANT")
			section.contact-section
				.page-wrapper
					a(href="#")
						span contact
						span.wsnr ご依頼、お見積もりなど、
						wbr
						span.wsnr こちらからお問い合わせ下さい。
		footer
			.page-wrapper
				a(href="/").logo
					img(src="../img/logo-wh.png", alt="")
				p.copy-en Advertise
					br
					| Strategy 
					br
					| for OnlineShop
				.sitemap.pc
					ul
						li
							a(href="/service/") SERVICE 
						li
							a(href="/works/") WORKS
						li
							a(href="/company/") COMPANY
						li
							a(href="/company/#contact") CONTACT
				p.copy-ja 売上を上げるECコンサルティング
				div.sns
					ul
						li
							a(href="#")
								img(src="../img/icon-twitter.png", alt="twitter")
						li
							a(href="#")
								img(src="../img/icon-facebook.png", alt="facebook")
				p.copyright © STARONLINE inc.
			a(href="#").back-btn back to top
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js")
		//- script(src="../js/slider.js")
		script(src="https://code.jquery.com/jquery-2.2.4.min.js" ,integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" ,crossorigin="anonymous")
		script(src="../js/tem.js")
