<!DOCTYPE html>
html(lang="ja")
	head
		title works | 間部さん
		meta(charset="UTF-8")
		meta(name='keywords', keywords="")
		meta(name='description', content="")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
		meta(property="og:type", content="website")
		meta(property="og:locale", content="ja_JP")
		meta(property="og:site_name", content='間部さん')
		meta(property="og:title", content='間部さん')
		meta(property="og:description", content="")
		meta(property="og:image", content= '')
		<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" />
		link(rel="stylesheet",href="../css/style.css")
		//- link(rel="shortcut icon", href="./favicon.ico", type="image/vnd.microsoft.icon")
	body
		header
			.page-wrapper
				a(href="/").logo
					img(src="../img/logo.png", alt="")
				.float-right
					span.menu
						img(src="../img/icon-menu.png", alt="menu")
			nav
				ul
					li
						a(href="/service/") SERVICE 
					li
						a(href="/works/") WORKS
					li
						a(href="/company/") COMPANY
					li
						a(href="/company/#contact") CONTACT
		main
			section
			section.contact-section
				.page-wrapper
					a(href="#")
						span contact
						span.wsnr ご依頼、お見積もりなど、
						wbr
						span.wsnr こちらからお問い合わせ下さい。
		footer
			.page-wrapper
				a(href="/").logo
					img(src="../img/logo-wh.png", alt="")
				p.copy-en Advertise
					br
					| Strategy 
					br
					| for OnlineShop
				.sitemap.pc
					ul
						li
							a(href="/service/") SERVICE 
						li
							a(href="/works/") WORKS
						li
							a(href="/company/") COMPANY
						li
							a(href="/company/#contact") CONTACT
				p.copy-ja 売上を上げるECコンサルティング
				div.sns
					ul
						li
							a(href="#")
								img(src="../img/icon-twitter.png", alt="twitter")
						li
							a(href="#")
								img(src="../img/icon-facebook.png", alt="facebook")
				p.copyright © STARONLINE inc.
			a(href="#").back-btn back to top
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js")
		//- script(src="../js/slider.js")
		script(src="https://code.jquery.com/jquery-2.2.4.min.js" ,integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" ,crossorigin="anonymous")
		script(src="../js/tem.js")
